<form #f='ngForm' (ngSubmit)='onSubmit(f.value);'>
	<ng-container *ngIf='!f?.submitted && object; else loading'>
		<h4>Editar categoría</h4>
		<mat-form-field>
			<input matInput type="text" placeholder="Nombre" [ngModel]='object.name' name='name' id='name' required>
		</mat-form-field>
		<mat-form-field>
			<textarea matInput rows='3' placeholder="Descripción" [ngModel]='object.description' name='description' id='description' required></textarea>
		</mat-form-field>
		<button mat-button type='submit' [disabled]='f.invalid'>Editar</button>
		<button mat-button type='button' routerLink='../../'>Atrás</button>
	</ng-container>
	<ng-template #loading>
		<mat-spinner class="mx-auto"></mat-spinner>
	</ng-template>
</form>