<div class="row">
  <div class="col-12 mb-4">
    <button mat-raised-button type='button' (click)='selectDate("today")' [disabled]='selectedRange==="today"'>Ahora ({{ today | date:"fullDate" }})</button>
    <button mat-raised-button type='button' (click)='selectDate("week")' [disabled]='selectedRange==="week"'>Esta semana</button>
    <button mat-raised-button type='button' (click)='selectDate("month")' [disabled]='selectedRange==="month"'>Este mes</button>
  </div>
  <div class='col-12'>
    <div class="col-12 col-sm-6 col-md-4">
      <!-- WORKPLACES FILTER -->
      <mat-form-field class='full-width'>
        <mat-select placeholder='Lugar de trabajo' [formControl]='workplaceCtrl' (selectionChange)='applyFilters();'>
          <mat-option *ngFor='let workplace of workplaces' [value]='workplace.name'>{{ workplace.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class='col-12'>
    <!-- USERS AUTOCOMPLETE FILTER -->
    <div class="col-12 col-sm-6 col-md-4">
      <ng-container *ngIf='users; else loadingUsers'>
        <mat-form-field class='full-width'>
          <input matInput placeholder="Clientes" [matAutocomplete]="auto" [formControl]="userCtrl" required>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='applyFilters()'>
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
              {{ user.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-button type='button' (click)='userCtrl.reset();applyFilters();'>
          Todos los clientes
        </button>
      </ng-container>
      <ng-template #loadingUsers>
        <mat-spinner class="mx-auto"></mat-spinner>
      </ng-template>
    </div>
  </div>

</div>