<div class="col-12 col-sm-10 col-md-8 mx-auto">
  <mat-card class="mat-card">
    <h4>
      Bienvenidos a CHANTLÍ, donde se preparan deliciosos platillos caseros a precios accesibles.
      <br>
      <b>¿Como ordenar?</b>
      <br>
      <ul>
        <li>Registrarse</li>
        <li>Dar clic en
          <button mat-button type='button' routerLink='menu'>
            <mat-icon>restaurant</mat-icon> Menú
          </button>
        </li>
        <li>Seleccionar platillo principal</li>
        <li>Seleccionar 2 acompañamientos</li>
        <li>Seleccionar bebida</li>
        <li>Seleccionar la cantidad de tortillas</li>
        <li>Dar clic en confirmar</li>
      </ul>
    </h4>
  </mat-card>

</div>