.mat-column-name {
  flex: 0 0 15%;
}
.mat-column-email {
  flex: 0 0 15%;
}
.mat-column-role {
  flex: 0 0 15%;
}
.mat-column-id {
  flex: 0 0 15%;
}
.mat-column-workplace{
  flex: 0 0 15%;
}
.mat-column-actions {
  flex: 0 0 25%;
}
.mat-table, .mat-paginator{
  overflow: auto;
  background-color: inherit;
}
.mat-cell,  .mat-paginator {
  /* color: white!important; */
}
.mat-header-cell{
  color: grey!important;
}
.mat-cell, .mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;
  padding: 0 15px;   
}