.mat-column-name {
  flex: 0 0 15%;
}
.mat-column-email {
  flex: 0 0 20%;
}
.mat-column-role {
  flex: 0 0 20%;
}
.mat-column-id {
  flex: 0 0 15%;
}
.mat-column-workplace{
  flex: 0 0 20%;
}
.mat-column-actions {
  flex: 0 0 10%;
}
.mat-table{
  min-width: 875px;
}