<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Pedidos</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h5>{{ selectedRangeString }}</h5>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-filters (selectedRange)='onSelectRange($event)'></app-filters>
        <app-package [dataSource]='orders'></app-package>
      </mat-card-content>
    </mat-card>
  </div>
</div>