<div class="row">
  <div class='col-12 col-sm-10 col-lg-8 mx-auto mb-3 text-center'>
    <mat-card class="title">
      <h1>Menu de la semana</h1>
    </mat-card>
  </div>
  <ng-container *ngIf='(_menus | async) as menus; else loading'>
    <div class="col-12 col-sm-10 col-lg-8 mx-auto mb-3 text-center">
      <h4 *ngIf='menus.length == 0'>Aún no está el menú de la semana.</h4>
    </div>
    <div class='col-12 col-sm-6 mb-3' *ngFor='let menu of menus'>
      <!-- {{ menu | json }} -->
      <app-day-menu [menu]='menu' (selected)='onSelectMenu($event)'></app-day-menu>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="col-12">
      <mat-spinner class='mx-auto'></mat-spinner>
    </div>
  </ng-template>
</div>