.title{
  padding-left : 0;
  padding-right: 0;
  margin-top: -15px;
  margin-bottom: 25px;
  /* outline: 10px solid #009688; */
}
.title .mat-card{
  background-color: #009688;
  color: white;
  text-align : center;
}