<div class="row">
  <div class='col-12 title'>
    <mat-card class='mat-elevation-z0'>
      <h1>Menu de la semana</h1>
      <h3 *ngIf='monday && friday'>Del {{ monday | spanishDate:"short" }} al {{ friday | spanishDate:"short" }}</h3>
      <h4>Selecciona el día que quieres ordenar</h4>
      <ng-container *ngIf='$user | async as user'>
        <h5 *ngIf='user?.credit'>
          <i>Tienes {{ user.credit | currency }} de crédito</i>
        </h5>
      </ng-container>
    </mat-card>
  </div>
  <ng-container *ngIf='menus; else loading'>
    <div class="col-12 col-sm-10 col-lg-8 mx-auto mb-3 text-center" *ngIf='menus.length == 0;else dowSelection'>
      <h4>Aún no está el menú de la semana.</h4>
    </div>
    <ng-template #dowSelection>
      <div class="col-12 dow">
        <mat-card class='mat-elevation-z0'>
          <mat-card-content class='text-center d-flex' [ngClass]='(isHandset$ | async) ? "mobile" : ""'>
            <span class="toolbar-flex select-button">
              <button type='button' mat-icon-button (click)='onSelectDay(dow-1)' class='float-right' [disabled]='dow <= 1'>
                <mat-icon>
                  arrow_left
                </mat-icon>
              </button>
            </span>
            <nav mat-tab-nav-bar>
              <ng-container *ngIf='!(isHandset$ | async);else selectedDay'>
                <a mat-tab-link *ngFor="let $dow of DOW;let i=index" (click)='onSelectDay(i+1)' [ngClass]='i+1 === dow ? "active" : ""'>
                  {{ $dow | capitalize }}
                </a>
              </ng-container>
              <ng-template #selectedDay>
                <a mat-tab-link class='active'>
                  {{ (DOW[dow-1] ? DOW[dow-1] : "") | capitalize }}
                </a>
              </ng-template>
            </nav>
            <span class="toolbar-flex select-button">
              <button type='button' mat-icon-button (click)='onSelectDay(dow+1)' class='float-left' [disabled]='dow >= 5'>
                <mat-icon>
                  arrow_right
                </mat-icon>
              </button>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
      <ng-container *ngIf='dow'>
        <div class='col-12 mb-3'>
          <div class="row">
            <ng-container *ngIf='selectedMenus.length;else menuNotAvailable'>
              <!-- {{ selectedMenu | json }} -->
              <ng-container *ngFor='let selectedMenu of selectedMenus;last as isLast;let i=index'>
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto menu-container">
                  <app-day-menu [menu]='selectedMenu' (selected)='onOrderMenu($event)'></app-day-menu>
                  <br *ngIf='!isLast'>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #menuNotAvailable>
              <div class="col-12 col-md-6 mx-auto" *ngIf='DOW[dow-1] as day'>
                <mat-card>
                  <mat-card-content>
                    <h4 class='text-center'>No hay menú para {{ day | capitalize }}
                      <:-(</h4>
                  </mat-card-content>
                </mat-card>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <div class="col-12">
      <mat-spinner class='mx-auto'></mat-spinner>
    </div>
  </ng-template>
</div>