@import 'src/_colors';

.title, .dow{
  padding-left : 0;
  padding-right: 0;
  margin-top: -15px;
  margin-bottom: 25px;
  /* outline: 10px solid #009688; */
}
.dow{
  margin-top: -27px;
}
.title .mat-card, .dow .mat-card{
  background-color: $primary;
  color: white!important;
  text-align : center;
}
.dow .mat-card{
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.dow .mat-card a{
  opacity: 1;
  color: white!important;  
}
.dow .mat-card a:hover{
  text-decoration: none;  
}
.toolbar-flex {
  flex: 1 0.5 auto;
}
.mat-tab-link.active{
  border-bottom: 2px solid $accent;
  background-color: rgba(0,0,0,.08);
}
.mat-tab-link{
  /* transition: 3s; */
}
// .currentCredit{
//   right: 50%;
//   position: fixed;
//   z-index: 2;
//   h6{
//     font-size: 150%;
//     color: white;
//   }
// }
.mobile  {
  .active{
    background-color: inherit;    
  }
  nav a{ 
    font-size: 150%;    
  }
  .select-button button .mat-icon{
    font-size: 50px;        
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
}