i.material-icons{
  margin-right: 10px;
}
.mat-list-item, .mat-list-item.sign-out{
  color:white;
}
.active{
  color: black;
  background-color: rgba(0,0,0,0.04);
}
.categoryLink mat-icon{
  padding-left: 10px;
}
.categoryLink span{
  padding-left: 20px;
}