.menu-products{
  word-wrap: break-word;
}

.Lunes{
  background-color: #B2DFDB;
}
.Martes{
  background-color: #B2EBF2;
}
.Miércoles{
  background-color: #B3E5FC;
}
.Jueves{
  background-color: #BBDEFB;
}
.Viernes{
  background-color: #C8E6C9;
}
