.mat-column-date {
  flex: 0 0 20%;
}
.mat-column-products {
  flex: 0 0 50%;
}
.mat-column-price {
  flex: 0 0 10%;
}
.mat-column-actions {
  flex: 0 0 20%;
}
.mat-cell .row{
  width: 150%;
}
.mat-table{
  min-width: 700px;
}