<mat-toolbar color='primary'>
	<mat-toolbar-row class='navigation'>
		<!-- MENU BUTTON -->
		<button mat-icon-button type="button" mat-button class='menu-button d-inline-block d-md-none' (click)="opened.emit()">
			<mat-icon>menu</mat-icon>
		</button>
		<!-- LOGO -->
		<!-- APP TITLE -->
		<span class="app-title" routerLink=''>
			<img src="https://goo.gl/GJas2y" alt="logo" class="logo img-fluid d-none d-md-inline-flex">
			{{ appTitle }}
		</span>
		<div class='d-none d-md-inline-flex'>
			<!-- LINKS NGFOR -->
			<a mat-button *ngFor='let link of links' [routerLink]='link.route' routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>
				<mat-icon>{{ link?.icon }}</mat-icon>
				<span class="label">{{ link.label }}</span>
			</a>
		</div>
		<!-- SPACER SPAN -->
		<span class="spacer"></span>
		<!-- AUTH ACTIONS -->
		<div class='d-none d-md-inline-flex'>
			<a mat-button *ngFor='let action of actions' [routerLink]='action.route' routerLinkActive='active'>
				<mat-icon>{{ action?.icon }}</mat-icon>
				<span class="label d-none d-lg-inline-flex">{{ action.label }}</span>
			</a>
			<!-- SIGN OUT BUTTON -->
			<ng-container *ngIf='user'>
				<button mat-button type='button' (click)='signOut.emit()'>
					<mat-icon>exit_to_app</mat-icon>
					<span class="label d-none d-lg-inline-flex">Cerrar sesión</span>
				</button>
			</ng-container>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
<!-- (click)='actioned.emit(action.route)' -->