<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h4>Información de usuario</h4>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content *ngIf='user | async as u; else loading'>
		<p>
			<b>ID : </b>{{ u.id }}</p>
		<p>
			<b>Nombre : </b>{{ u.name }}</p>
		<p>
			<b>Correo electrónico: </b>{{ u.email }}</p>
		<p>
			<b>Rol : </b>{{ u.role }}</p>
		<ng-container *ngIf='u.workplace; else setWorkplace'>
			<p>
				<b>Lugar de trabajo : </b> {{ u?.workplace }}</p>
		</ng-container>
		<ng-template #setWorkplace>
			<mat-form-field class='full-width'>
				<mat-select placeholder='Lugar de trabajo' [(ngModel)]='workplace'>
					<mat-option *ngFor='let workplace of workplaces | async' [value]='workplace.name'>
						{{ workplace.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<button mat-button type='button' (click)='onUpdateWorkplace(workplace, u)'>Actualizar lugar de trabajo</button>
		</ng-template>
	</mat-card-content>
	<ng-template #loading>
		<mat-spinner class="col-12 mx-auto"></mat-spinner>
	</ng-template>
</mat-card>