<div class="row">
	<div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4 mx-auto text-center">
		<mat-card class="bg-light pb-5 pt-4" *ngIf='!submitted; else loading'>
			<mat-card-content class='p-5'>
				<form #f='ngForm' (ngSubmit)='onSubmit(f.value)'>
					<div class="form">
						<div class="form-title mb-5">
							<h4>Registrarse</h4>
							<br>
							<img src="goo.gl/GJas2y" alt="logo" class="img-fluid">
						</div>
						<div class="form-content my-3" *ngIf='signUp'>
							<mat-form-field class="full-width">
								<input matInput type="text" placeholder='Nombre' id='name' [(ngModel)]='signUp.name' name='name' required>
							</mat-form-field>
							<mat-form-field class="full-width">
								<input matInput type="email" placeholder='Correo electrónico' id='email' [(ngModel)]='signUp.email' name='email' required
								 email>
							</mat-form-field>
							<mat-form-field class="full-width">
								<input matInput type="password" placeholder='Contraseña' id='confirmPassword' ngModel name='confirmPassword' required pattern='^.{6,}$'>
							</mat-form-field>
							<mat-form-field class="full-width">
								<input matInput type="password" placeholder='Confirmar contraseña' id='password' [(ngModel)]='signUp.password' name='password'
								 required [pattern]='f.controls.confirmPassword?.value'>
							</mat-form-field>
							<mat-form-field class="full-width">
								<mat-select placeholder='Lugar de trabajo' [(ngModel)]='signUp.workplace' name='workplace' required>
									<mat-option *ngFor='let workplace of (workplaces | async)' [value]='workplace.name'>
										{{ workplace.name }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<button type='submit' mat-button>Registrarse</button>
					</div>
				</form>
				<hr>
				<div class="actions-buttons">
					<button mat-button type='button' routerLink='/ingresar'>¿Ya te registraste?</button>
				</div>
			</mat-card-content>
		</mat-card>
		<ng-template #loading>
			<mat-spinner class="mx-auto"></mat-spinner>
		</ng-template>
	</div>
</div>