<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
	<div class="row">
		<div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4 mx-auto text-center">
			<mat-card class="bg-light p-5">
				<mat-card-content>
					<div class="form">
						<div class="form-title mb-5">
							<h4>Registrarse</h4>
							<br>
							<img src="/assets/logo.png" alt="logo" class="img-fluid">
						</div>
						<div class="form-content my-3">
							<mat-form-field class="full-width">
								<input matInput type="text" placeholder='Nombre' id='name' [(ngModel)]='signUp.name' name='name' [readonly]='f?.submitted'
								 required>
							</mat-form-field>
							<mat-form-field class="full-width">
								<input matInput type="email" placeholder='Correo electrónico' id='email' [(ngModel)]='signUp.email' name='email' [readonly]='f?.submitted'
								 required email>
							</mat-form-field>
							<mat-form-field class="full-width">
								<input matInput type="password" placeholder='Contraseña' id='confirmPassword' ngModel name='confirmPassword' [readonly]='f?.submitted'
								 required pattern='^.{6,}$'>
							</mat-form-field>
							<mat-form-field class="full-width">
								<input matInput type="password" placeholder='Confirmar contraseña' id='password' [(ngModel)]='signUp.password' name='password'
								 [readonly]='f?.submitted' required [pattern]='f.controls.confirmPassword?.value'>
							</mat-form-field>
							<mat-form-field class="full-width">
								<mat-select placeholder='Lugar de trabajo' [(ngModel)]='signUp.workplace' name='workplace' required>
									<mat-option *ngFor='let workplace of (workplaces | async)' [value]='workplace.name'>
										{{ workplace.name }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<button mat-button type='submit' [disabled]='f?.invalid' *ngIf='!f?.submitted;else loadingSubmit'>Registrarse</button>
						<ng-template #loadingSubmit>
							<mat-spinner class='mx-auto' diameter='35'></mat-spinner>
						</ng-template>
					</div>
					<hr>
					<div class="other-options">
						<button mat-button type='button' routerLink='/ingresar' [disabled]='f?.submitted'>¿Ya te registraste?</button>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</form>