<mat-card *ngIf='menu'>
  <mat-card-header>
    <mat-card-title>
      <h1>Ordenando para {{ menu.date | date:"EEEE" | dow }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>Paso 2</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <ng-container *ngIf='(_bebidas | async) as bebidas; else loadingBebidas'>
        <div class="col-12 text-center">
          <h2>Selecciona tu bebida</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center hover" *ngFor='let product of bebidas'>
          <figure>
            <img [src]="product.imageURL" *ngIf='product?.imageURL' class="img-fluid img-thumbnail rounded" (click)='bebida = product'
              [ngClass]='bebida?.id === product?.id ? "selected":""'>
          </figure>
          <p>{{ product.name }}</p>
          <p *ngIf='product?.extra'>
            <b> Extra : {{ product.extra | currency }}</b>
          </p>
        </div>
      </ng-container>
      <ng-template #loadingBebidas>
        <mat-spinner class="col-12 mx-auto"></mat-spinner>
      </ng-template>
    </div>
  </mat-card-content>
  <mat-card-actions align='end'>
    <button mat-button type='button' (click)='onBack()'>
      Atras
    </button>
    <button mat-button type='button' (click)='onSelect()' [disabled]='!bebida'>
      Siguiente
    </button>
  </mat-card-actions>
</mat-card>