<!-- <mat-card>
	<h1>Backup</h1>
	<button mat-button type='button' (click)='backup()'>Backup products</button>
</mat-card> -->

<hr>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h3>Productos</h3>
		</mat-card-title>
		<mat-card-subtitle *ngIf='($categories | async) as categories'>
			<h5>Por categoría :
				<mat-form-field>
					<mat-select [ngModel]='selectedCategory | async' (selectionChange)='selectedCategory.next($event.value)'>
						<mat-option *ngFor='let category of categories' [value]='category.name'>{{ category.name }}</mat-option>
					</mat-select>
				</mat-form-field>
			</h5>
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="row">
			<div class="col-12">
				<button mat-button type='button' [routerLink]='["agregar"]' (click)='onAction()'>
					<i class="material-icons">add</i>
					Agregar producto
				</button>
			</div>
			<div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto text-center my-2">
				<router-outlet></router-outlet>
			</div>
			<div class="col-12">
				<mat-form-field class='full-width'>
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
				</mat-form-field>
				<div class='table-container'>
					<mat-table #table matSort [dataSource]="dataSource" class='data-table'>
						<!-- Name Column -->
						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
							<mat-cell *matCellDef="let element" class='d-block'>
								<p>{{element.name}}</p>
								<ng-container *ngIf='element.noSides'>
									<p>(Sin acompañamiento)</p>
								</ng-container>
								<ng-container *ngIf='element.noTortillas'>
									<p>(Sin tortillas)</p>
								</ng-container>
								<ng-container *ngIf='element.extra'>
									<p>(Costo extra: {{ element.extra | currency }})</p>
								</ng-container>
							</mat-cell>
						</ng-container>

						<!-- Description Column -->
						<ng-container matColumnDef="description">
							<mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{ element.description }}
							</mat-cell>
						</ng-container>

						<!-- Image Column -->
						<ng-container matColumnDef="imageURL">
							<mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<img [src]="element.imageURL" [alt]="element.name" class="img-fluid">
							</mat-cell>
						</ng-container>

						<!-- Actions Column -->
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<button mat-icon-button type='button' [routerLink]='["editar",element.id]' matTooltip="Editar" (click)='onAction(element)'>
									<mat-icon>update</mat-icon>
								</button>
								<button mat-icon-button type='button' [routerLink]='["borrar",element.id]' matTooltip="Borrar" (click)='onAction(element)'>
									<mat-icon>delete</mat-icon>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					</mat-table>
					<ng-container *ngIf='loaded && !dataSource?.data?.length'>
						<h5 class='text-center'>No hay productos.</h5>
					</ng-container>
					<ng-container *ngIf='!loaded'>
						<mat-spinner class="mx-auto my-3"></mat-spinner>
					</ng-container>
				</div>
				<mat-paginator [length]='dataSource?.data?.length' [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</div>
		</div>
	</mat-card-content>
</mat-card>