<mat-card>
	<div class="table-container">
		<div class="table-header">
			<div class="row">
				<div class="col-12">
					<button mat-button type='button' [routerLink]='["agregar"]'>
						<i class="material-icons">add</i>
						Agregar producto
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto text-center my-2">
				<router-outlet></router-outlet>
			</div>
		</div>
		<mat-table #table matSort [dataSource]="dataSource" class='data-table'>
			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{element.name}}
					<ng-container *ngIf='element.noSides'>
						<p>(Sin acompañamiento)</p>
					</ng-container>
					<ng-container *ngIf='element.extra'>
						<p>(Costo extra: {{ element.extra | currency }})</p>
					</ng-container>
				</mat-cell>
			</ng-container>

			<!-- Description Column -->
			<ng-container matColumnDef="description">
				<mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{ element.description }}
				</mat-cell>
			</ng-container>

			<!-- Price Column -->
			<!-- <ng-container matColumnDef="price">
				<mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{ element.price | currency }}
				</mat-cell>
			</ng-container> -->

			<!-- Cost Column -->
			<!-- <ng-container matColumnDef="cost">
				<mat-header-cell *matHeaderCellDef> Costo </mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{ element.cost | currency }}
				</mat-cell>
			</ng-container> -->

			<!-- Image Column -->
			<ng-container matColumnDef="imageURL">
				<mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
				<mat-cell *matCellDef="let element">
					<img [src]="element.imageURL" [alt]="element.name" class="img-fluid">
				</mat-cell>
			</ng-container>

			<!-- Category Column -->
			<ng-container matColumnDef="category">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{ element.category }}
				</mat-cell>
			</ng-container>

			<!-- Actions Column -->
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<button mat-icon-button type='button' [routerLink]='["editar",element.id]' matTooltip="Editar" (click)='onAction(element)'>
						<mat-icon>update</mat-icon>
					</button>
					<button mat-icon-button type='button' [routerLink]='["borrar",element.id]' matTooltip="Borrar" (click)='onAction(element)'>
						<mat-icon>delete</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
		<ng-container *ngIf='loaded && !dataSource?.data?.length'>
			<h5 class='text-center'>No hay productos.</h5>
		</ng-container>
		<ng-container *ngIf='!loaded'>
			<mat-spinner class="mx-auto my-3"></mat-spinner>
		</ng-container>
		<mat-paginator [length]='dataSource?.data?.length' [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
</mat-card>