.mat-column-name {
  flex: 0 0 25%;
}
.mat-column-description {
  flex: 0 0 25%;
}
.mat-column-imageURL {
  flex: 0 0 30%;
}
.mat-column-actions {
  flex: 0 0 20%;
}
.mat-table{
  min-width: 600px;
}
img{
  height: 200px;
}