.mat-cell{
  display: block;
}
.mat-column-products{
  flex: 0 0 45%;
}
.mat-column-date{
  flex: 0 0 15%;
}
.mat-column-price{
  flex: 0 0 10%;
}
.mat-column-status{
  flex: 0 0 10%;
}
.mat-column-actions{
  flex: 0 0 20%;
}
.mat-table{
  min-width: 800px;

}
.table-container{
  min-height: 215px;
}