.app-container, .app-sidenav{
  /* padding-top: 64px; */
  padding-top: 74px;
  background-color: #d3d3d3;
  /* min-height: 950px; */
}
.app-sidenav-content{
  min-height: 750px;
}
.app-sidenav {
  min-width: 250px;
  background-color: rgba(0, 150, 136);
  position: fixed;
  z-index: 99;
}