<div class="row">
	<div class="col-12">
		<mat-card class='admin-routes'>
			<mat-card-content>
				<h4 class="text-center">Administración de contenido</h4>
				<nav mat-tab-nav-bar>
					<a mat-tab-link *ngFor="let link of links" [routerLink]="link.route" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
						<mat-icon>{{ link.icon }}</mat-icon>
						{{link.label}}
					</a>
				</nav>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12">
		<router-outlet></router-outlet>
	</div>
</div>