<div class="row">
	<div class="col-12">
		<mat-card class='admin-routes'>
			<mat-card-content>
				<h4 class="text-center">
					{{ menuExtended ? 'Administración de contenido' : 'Menu'}}
				</h4>
				<mat-nav-list *ngIf='menuExtended;else notExtendedMenu'>
					<a mat-list-item *ngFor="let link of links" [routerLink]="link.route" routerLinkActive='active'>
						<mat-icon *ngIf='link?.icon'>{{ link.icon }}</mat-icon>
						{{link.label}}
					</a>
				</mat-nav-list>
				<ng-template #notExtendedMenu>
					<button mat-button *ngFor="let link of links" type="button" [routerLink]="link.route" routerLinkActive='active' class='my-1'>
						<mat-icon>{{ link.icon }}</mat-icon>
					</button>
				</ng-template>
			</mat-card-content>
			<div class="bottom-line" (click)='menuExtended = !menuExtended' *ngIf='(isHandset$ | async)'></div>
		</mat-card>
	</div>
	<div class="col-12">
		<router-outlet></router-outlet>
	</div>
</div>