.mat-icon{
  margin-right: 10px;
}
.mat-list-item{
  display: inline-flex;
  margin-right: 5px;
  margin-left: 5px;  
}
.active, .mat-list-item:hover{
  background-color: rgba(0,0,0,0.1);
}
a{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
.admin-routes{
  margin-bottom: 15px;
}
.bottom-line{
  height: 100%;
  background-color: inherit;
  width: 15px;
  position: absolute;
  bottom:0;
  cursor: pointer;
}
.bottom-line:hover{
  background-color: rgba(0,0,0,0.12);
}