.mat-icon{
  margin-right: 10px;
}
.active, .mat-list-item:hover{
  background-color: rgba(0,0,0,0.1);
}
a{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
.admin-routes{
  margin-bottom: 15px;
}
.side{
  height: 100%;
  background-color: inherit;
  width: 15px;
  position: absolute;
  right: 0;
  top:0;
  cursor: pointer;
}
.side:hover{
  background-color: rgba(0,0,0,0.12);
}