<div class="row">
	<div class="col-12 col-sm-9 col-md-7 col-lg-4 mx-auto text-center">
		<mat-card class="bg-light pb-5 pt-4">
			<mat-card-content class='p-5'>
				<div class="form">
					<div class="form-title mb-5">
						<h4>¿Olvidaste tu contraseña?</h4>
					</div>
					<form #f='ngForm' (ngSubmit)='onSubmit()'>
						<div class="form-content my-1">
							<mat-form-field>
								<input matInput type="email" placeholder="Correo electrónico" [(ngModel)]='email' name='email' required email>
							</mat-form-field>
							<button mat-button type='submit' [disabled]='f.invalid'>Submit</button>
						</div>
					</form>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>