<ng-container *ngIf='!$loading; else loading'>
  <div class="row">
    <ng-container *ngIf='orders?.length'>
      <div class="col-12 col-sm-6 col-lg-3">
        <h6>
          <b>
            Principales
          </b>
        </h6>
        <p *ngFor='let principal of principales'>
          {{ principal?.count }} x {{ principal?.label }}  
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <h6>
          <b>
            Acompañamientos
          </b>
        </h6>
        <p *ngFor='let ac of acompanamientos'>
          {{ ac?.count }} x {{ ac?.label }}  
          </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <h6>
          <b>
            Bebidas
          </b>
        </h6>
        <p *ngFor='let bebida of bebidas'>
          {{ bebida?.count }} x {{ bebida?.label }}  
          </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <h6>
          <b>
            Tortillas
          </b>
        </h6>
        <p>
          {{ tortillas }}
        </p>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading>
  <div class="col-12 ">
    <mat-spinner class='mx-auto'></mat-spinner>
  </div>
</ng-template>