// Import material theming functions
@import '~@angular/material/theming';
@include mat-core();

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-teal);
$app-accent:  mat-palette($mat-light-blue, 500, 900, 100);
$app-warn:    mat-palette($mat-red, 200);
$app-success:    mat-palette($mat-green, 300);
$app-danger:    mat-palette($mat-red, 400);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$success: mat-color($app-success);
$danger: mat-color($app-danger);