@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-teal);
$my-app-secondary:    mat-palette($mat-blue, 200);
$my-app-accent:  mat-palette($mat-light-blue, 500, 900, A100);
$my-app-warn:    mat-palette($mat-yellow, 200);