/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300');
body{
  background-color: #d3d3d3;
}
.spacer{
  flex: 1 1 auto;
}
.full-width {
  width: 100%;
}